-- MySQL dump 10.13  Distrib 8.0.42, for Win64 (x86_64)
--
-- Host: localhost    Database: inkwatchdb
-- ------------------------------------------------------
-- Server version	8.0.42

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `tbl_brands`
--

DROP TABLE IF EXISTS `tbl_brands`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_brands` (
  `brand_id` int NOT NULL AUTO_INCREMENT,
  `brand_name` varchar(100) NOT NULL,
  `brand_logo` mediumblob,
  PRIMARY KEY (`brand_id`)
) ENGINE=InnoDB AUTO_INCREMENT=52 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_brands`
--

LOCK TABLES `tbl_brands` WRITE;
/*!40000 ALTER TABLE `tbl_brands` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_brands` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_departmants`
--

DROP TABLE IF EXISTS `tbl_departmants`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_departmants` (
  `departmant_id` int NOT NULL AUTO_INCREMENT,
  `departmant_name` varchar(100) NOT NULL,
  PRIMARY KEY (`departmant_id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_departmants`
--

LOCK TABLES `tbl_departmants` WRITE;
/*!40000 ALTER TABLE `tbl_departmants` DISABLE KEYS */;
INSERT INTO `tbl_departmants` VALUES (1,'Bilgi ─░┼şlem'),(2,'─░nsan Kaynaklar─▒');
/*!40000 ALTER TABLE `tbl_departmants` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_logs`
--

DROP TABLE IF EXISTS `tbl_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_logs` (
  `log_id` int NOT NULL AUTO_INCREMENT,
  `printer_id` int DEFAULT NULL,
  `action` varchar(255) DEFAULT NULL,
  `performed_by` varchar(100) DEFAULT NULL,
  `timestamp` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`log_id`),
  KEY `printer_id` (`printer_id`),
  CONSTRAINT `tbl_logs_ibfk_1` FOREIGN KEY (`printer_id`) REFERENCES `tbl_printers` (`printer_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_logs`
--

LOCK TABLES `tbl_logs` WRITE;
/*!40000 ALTER TABLE `tbl_logs` DISABLE KEYS */;
INSERT INTO `tbl_logs` VALUES (1,1,'Toner de─şi┼ştirildi','admin','2025-05-19 12:41:40'),(2,1,'IP adresi g├╝ncellendi','mehmet','2025-05-19 12:41:40'),(3,2,'Yaz─▒c─▒ yeniden ba┼şlat─▒ld─▒','admin','2025-05-19 12:41:40');
/*!40000 ALTER TABLE `tbl_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_models`
--

DROP TABLE IF EXISTS `tbl_models`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_models` (
  `model_id` int NOT NULL AUTO_INCREMENT,
  `brand_id` int DEFAULT NULL,
  `model_name` varchar(100) NOT NULL,
  `model_logo` longblob,
  PRIMARY KEY (`model_id`),
  KEY `brand_id` (`brand_id`),
  CONSTRAINT `tbl_models_ibfk_1` FOREIGN KEY (`brand_id`) REFERENCES `tbl_brands` (`brand_id`)
) ENGINE=InnoDB AUTO_INCREMENT=53 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_models`
--

LOCK TABLES `tbl_models` WRITE;
/*!40000 ALTER TABLE `tbl_models` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_models` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_part_type`
--

DROP TABLE IF EXISTS `tbl_part_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_part_type` (
  `part_type_id` int NOT NULL AUTO_INCREMENT,
  `part_type_name` varchar(100) NOT NULL,
  `explanation` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`part_type_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_part_type`
--

LOCK TABLES `tbl_part_type` WRITE;
/*!40000 ALTER TABLE `tbl_part_type` DISABLE KEYS */;
INSERT INTO `tbl_part_type` VALUES (1,'Toner','Yaz─▒c─▒ya ├Âzel toner kartu┼şu'),(2,'Drum','G├Âr├╝nt├╝leme tamburu');
/*!40000 ALTER TABLE `tbl_part_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_parts`
--

DROP TABLE IF EXISTS `tbl_parts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_parts` (
  `part_id` int NOT NULL AUTO_INCREMENT,
  `model_id` int DEFAULT NULL,
  `part_type_id` int DEFAULT NULL,
  `part_name` varchar(100) NOT NULL,
  PRIMARY KEY (`part_id`),
  KEY `model_id` (`model_id`),
  KEY `part_type_id` (`part_type_id`),
  CONSTRAINT `tbl_parts_ibfk_1` FOREIGN KEY (`model_id`) REFERENCES `tbl_models` (`model_id`),
  CONSTRAINT `tbl_parts_ibfk_2` FOREIGN KEY (`part_type_id`) REFERENCES `tbl_part_type` (`part_type_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_parts`
--

LOCK TABLES `tbl_parts` WRITE;
/*!40000 ALTER TABLE `tbl_parts` DISABLE KEYS */;
INSERT INTO `tbl_parts` VALUES (1,1,1,'HP 59X Toner'),(2,2,1,'Canon GI-490 M├╝rekkep');
/*!40000 ALTER TABLE `tbl_parts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_printers`
--

DROP TABLE IF EXISTS `tbl_printers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_printers` (
  `printer_id` int NOT NULL AUTO_INCREMENT,
  `brand_id` int DEFAULT NULL,
  `model_id` int DEFAULT NULL,
  `departmant_id` int DEFAULT NULL,
  `printer_sn` varchar(100) DEFAULT NULL,
  `printer_ip` varchar(50) DEFAULT NULL,
  `delivery_date` date DEFAULT NULL,
  `is_deleted` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`printer_id`),
  KEY `brand_id` (`brand_id`),
  KEY `model_id` (`model_id`),
  KEY `departmant_id` (`departmant_id`),
  CONSTRAINT `tbl_printers_ibfk_1` FOREIGN KEY (`brand_id`) REFERENCES `tbl_brands` (`brand_id`),
  CONSTRAINT `tbl_printers_ibfk_2` FOREIGN KEY (`model_id`) REFERENCES `tbl_models` (`model_id`),
  CONSTRAINT `tbl_printers_ibfk_3` FOREIGN KEY (`departmant_id`) REFERENCES `tbl_departmants` (`departmant_id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_printers`
--

LOCK TABLES `tbl_printers` WRITE;
/*!40000 ALTER TABLE `tbl_printers` DISABLE KEYS */;
INSERT INTO `tbl_printers` VALUES (1,1,1,1,'SN12345678','192.168.1.10',NULL,0),(2,2,2,2,'SN87654321','192.168.1.11',NULL,0),(3,1,1,1,'SN123123','123412321',NULL,0),(7,26,1,1,'SM123123213','10.25.12.215',NULL,1),(12,1,4,1,'1516512','192.168.1.2','2025-06-22',1),(14,1,4,2,'SN9871239941','10.7.7152.12','2025-06-18',1),(15,51,49,2,'Serin numaras─▒123','123.152.15.1','2025-07-07',1),(16,1,4,2,'Sanet test','10.12.1.2','2025-07-30',1);
/*!40000 ALTER TABLE `tbl_printers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_users`
--

DROP TABLE IF EXISTS `tbl_users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_users` (
  `user_id` int NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `full_name` varchar(100) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `role` enum('admin','user','viewer') DEFAULT 'user',
  `is_active` tinyint(1) DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_users`
--

LOCK TABLES `tbl_users` WRITE;
/*!40000 ALTER TABLE `tbl_users` DISABLE KEYS */;
INSERT INTO `tbl_users` VALUES (1,'admin','240be518fabd2724ddb6f04eeb1da5967448d7e831c08c8fa822809f74c720a9','Sistem Y├Âneticisi','admin@example.com','admin',1,'2025-05-19 09:23:03'),(2,'mehmet','248b592e88edbb4f62609b36a4b6640a5e65c6759b2adae2c8a7a24378e0274e','Mehmet Y─▒lmaz','mehmet@example.com','user',1,'2025-05-19 09:23:03');
/*!40000 ALTER TABLE `tbl_users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-09-17 13:05:43
